*{
    padding: 0;
    margin: 0;

}
body{
    background-color: rgb(107, 98, 116);
    text-align: center;
    font-family: "indie flower","Montserrat",sans-serif;
    
}
h1{
    line-height: 2.1rem;
    color: red;
    font-weight: bold;
    margin-top: 40px;
}

.container{
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    margin-top: 2%;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.box{
    height: 18vmin;
    width: 18vmin;
    color: red;
    background-color: #d3b3b3;
    padding: 10px;
    font-size: larger;
   
}
#new-btn{
    background-color: black;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
}
#reset-btn{
    background-color: black;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;
}
.msg-container{
    height: 200vh;
}
.msg{
    font-size: 40px;
    color: red;
    line-height: 4;
    font-weight: bolder;
   padding: 10px;
}
.hide{
    display: none;
}